
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: url('bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position:relative;
    top:0;
    width:100%;
    padding:30px 100px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}